<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Naves Nodrizas</title>
  </head>
  <body>
    <div class="container">
        {% include "home.html" %}
        <h1>Lista de todas las naves Nodrizas</h1>
        <a class="btn btn-success" href='{% url "naves_create" %}'> Crear nave nodriza</a>
        <ul>
          {% for Nave in object_list %}
            <li>
              <p>Nave PK: {{ Nave.pk }}</p>
              <p>Nombre: {{ Nave.nombre }}</p>
              <a class="btn btn-danger" href='{% url "naves_delete" Nave.pk %}'>borrar</a>
            </li>
          {% endfor %}
        </ul>
    </div>
  </body>
</html>
