<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Pasajeros</title>
  </head>
  <body>
    <div class="container">
        <h1>Lista de todos los Pasajeros</h1>
        <a class="btn btn-success" href='{% url "pasajero_create" %}'> Crear Pasajero</a>
        <table class="table">
            <tr>
                <td>ID Pasajero</td>
                <td>Nombre</td>
                <td>A bordo de </td>
                <td>Editar</td>
            </tr>
                {% for Pasajero in object_list %}
                <tr>
                    <th>{{ Pasajero.pk }}</th>
                    <td>{{ Pasajero.nombre }}</td>
                    <td>{{ Pasajero.aeronave_id.nombre }}</td>
                    <td>
                        <a class="btn btn-primary" href='{% url "pasajero_update" Pasajero.pk %}'>Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>
