<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Revisiones</title>
  </head>
  <body>
    <div class="container">
      {% include "home.html" %}
        <h1>Lista de todas las Revisiones</h1>
        <a class="btn btn-success" href='{% url "revision_create" %}'> Crear Revisión</a>
        <table class="table">
            <tr>
                <th>ID Revisión</th>
                <th>Aeronave</th>
                <th>Nombre Revisor</th>
                <th>Número de Pasajeros</th>
                <th>Fecha de Revisión</th>
                <td>
                    <table class="table">
                        <tr>Pasajeros</tr>
                        <tr><th>ID</th>
                        <td>Nombre</td></tr>
                    </table>
                </td>
            </tr>
                {% for revision in object_list %}
                <tr>
                    <th>{{ revision.pk }}</th>
                    <td>{{revision.aeronave_id.pk}}: {{ revision.aeronave_id.nombre }}</td>
                    <td>{{ revision.nombre_revisor }}</td>
                    <td>{{ revision.num_pasajeros }}</td>
                    <td>{{ revision.fecha_revision  }}</td>
                    <td>
                        <table class="table">
                            {% for p in revision.pasajeros.all %}
                                <tr>
                                    <td>{{p.pk}}</td>
                                    <td>{{p.nombre}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>
